{% extends 'base.html' %} {% block content %}
<section class="container-fluid first-container" data-bs-spy="scroll" data-bs-target="#navbar-example2"
  data-bs-offset="0" tabindex="0">
  <div class="row py-5">
    <div class="offset-sm-2 col-sm-5 bg-light mb-4" data-aos="slide-right">
      <div class="col-2 pt-md-5"></div>
      <div class="offset-sm-1 mt-sm-3">
        <p style="font-size: 28px;font-weight: 700;">CUSTOM PRINTED T-SHIRTS</p>
      </div>
      <div class="offset-sm-1 col-sm-10 pt-2">
        <p>You send us your design ~ We print them on a t-shirt for you. How convinient?</p>
        <ul style="padding-left:0%;">
          <li class="first-list-element mt-3">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="ms-3"><u>508 Reviews</u></span>
          </li>
        </ul>
        <p>Rated 5 Stars by 500+ Customers</p>

        <img src="/static/image/index/truck.svg" height="40" width="40"><span>Delivery all over Nepal</span><br>
        <div class="col-lg-5 mt-3">
          {% if user.is_login == True %}
          <a href="/productpage/{{user.customer_id}}" class="btn btn-lg btn-primary my-3"
            style="border-radius: 0%;">Order Now<i class="fa-solid fa-arrow-right ps-2"></i></a>
          {% else %}
          <a href="/productPage/" class="btn btn-lg btn-primary my-3" style="border-radius: 0%;">Order Now<i
              class="fa-solid fa-arrow-right ps-2"></i></a>
          {% endif%}
        </div>
      </div>
    </div>

    <div class="col-sm-3 ms-sm-3" data-aos="slide-left">
      <img src="/static/image/index/assert.svg" class="img-fluid">
    </div>
  </div>
</section>

<section class="container-fluid py-5">
  <div class="row">
    <div class="offset-sm-2 col-sm-3" data-aos="zoom-in-up">
      <img src="/static/image/index/assert-1.svg" class="img-fluid">
    </div>
    <div class="col-1"></div>
    <div class="col-sm-6" data-aos="zoom-in-up">
      <div class="col-12 pt-5"></div>
      <div class="col-lg-12 mt-sm-4">
        <p style="font-size: 28px;font-weight: 700;">BUTTANEPAL™ CUSTOM T-SHIRT</p>
      </div>
      <div class="col-lg-8 mt-3">
        <ul class="mt-4" style="padding-left:0%;">
          <li class="first-list-element mt-3">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="ms-3"><u>508 Reviews</u></span>
          </li>
        </ul>
        <p class="mt-4">You send us your design ~ We print them on a t-shirt for you. How convinient?</p>
        <p class="mt-4">Custom printed T-shirt @ Rs. 1500 per tee. Can it get any more affordable?</p>
        <div class="col-12 d-grid">
          {% if user.is_login == True %}
          <a href="/productpage/{{user.customer_id}}" class="btn btn-primary btn-lg mt-4" type="button"
            style="border-radius: 0%;">
            View product<i class="fa-solid fa-arrow-right ps-2"></i>
            {% else %}
            <a href="/productPage/" class="btn btn-primary btn-lg mt-4" type="button" style="border-radius: 0%;">
              View product<i class="fa-solid fa-arrow-right ps-2"></i>
              {% endif %}
            </a>
        </div>
      </div>

    </div>
  </div>
</section>

{% include 'video/video_section.html' %}

{% include 'contact_form/contact_form.html' %}

{% include 'newsletter/newsletter.html' %}

{% endblock %}